        <div class="main_area">
            <div class="growth_wrap">
                <p class="growth_text">Справочник научных журналов<br /></p>
            </div>
            <div class="body_wrap">
                <div class="left_body_wrap">
                <div class="left_body_main">
                    <div class="main_wrap">
                        <h1>User exactly</h1>
                        <p style="font-size: 20px;">
                            
                           <p> {{user.nameOriginal}}</p>
                            
                           <p> {{user.nameRus}}</p>
                            
                           <p> {{user.nameEng}}</p>
                    
                           <p> {{user.ISSNprint}}</p>
                        
                           <p> {{user.ISSNonline}}</p>
                        
                           <p> {{user.publisher}}</p>
                            
                           <p> {{user.publisherEng}}</p>
                            
                           <p> {{user.scientificDirections}}</p>
                            
                           <p> {{user.webPage}}</p>
                            
                           <p> {{user.accessTextArticles}}</p>
                            
                           <p> {{user.dataStartArchieve}}</p>
                            
                           <p> {{user.dataEndArchieve}}</p>
                            
                           <p> {{user.embargoTerm}}</p>
                    
                           <p> {{user.prefixDOI}}</p>
                            
                           <p> {{user.includedRSCI}}</p>
                            
                           <p> {{user.linkELibrary}}</p>
                        
                           <p>{{user.accessArticleELibrary}}</p> 
                            
                           <p> {{user.dataStartArchieveELibrary}}</p>
                            
                           <p> {{user.dataEndArchieveELibrary}}</p>
                            
                           <p> {{user.bibliometricIndicatorsRSCI}}</p>
                            
                           <p> {{user.yearsIndexingScopus}}</p>
                    
                           <p> {{user.yearsIndexingWebOfScience}}</p>
                        
                           <p> {{user.description}}</p>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>